header {
    background-color: cornflowerblue;
    padding: 10px;
    margin: 10px;
}

p {
    background-color: gold;
    border: 5px solid black;
}

.wide {
    width: 300px;
}

.center {
    margin: auto;
}